body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.authedUser-info {
  display: flex;
  flex-direction: row;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  text-transform: uppercase;
  margin: 0.5rem auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  background: #fff;
  font-size: 16px;
  width: 250px;
  min-height: 3rem;
  position: relative;
  cursor: pointer;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.result {
  text-transform: uppercase;
  margin: 0.5rem auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  background: #fff;
  font-size: 16px;
  width: 250px;
  min-height: 5rem;
  position: relative;
}

.selected-result {
  border: 4px solid green;
}

.winner {
  background-color: darkseagreen;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  margin: 10px;
}

.center {
  text-align: center;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.question-info {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.author-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.question-options {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question-option {
  margin: 0.5rem auto;
  padding: 10px;
  background: #fff;
  font-size: 16px;
  width: 230px;
  position: relative;
}

.user {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
}

.user-info {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scores {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.question-answer-scores {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-score {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.score {
  text-transform: uppercase;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border: 1px solid rgba(0,0,0,.29);
  background: #fff;
  font-size: 16px;
  width: 250px;
  height: 3rem;
  position: relative;
}

.score-total {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border: 1px solid rgba(0,0,0,.29);
  background: #fff;
  font-size: 16px;
  width: 250px;
  height: 8rem;
  position: relative;
}